:root {
    --main-bg-color: #a3a3a3;
    --main-text-color: white;
    --titles-font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;;
    --main-text-font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;;
  }
  body {
    background-color: var(--main-bg-color);
  }
  
  .main-text {
    color: var(--main-text-color);
    font-size: 2vw; /* Adjust this value as needed */
    font-family: var(--main-text-font-family);
  }
  @media (max-width: 600px) {
    .main-text {
      font-size: 16px; /* Minimum font size */
    }
  }
  
  @media (min-width: 1200px) {
    .main-text {
      font-size: 24px; /* Maximum font size */
    }
  }


  .titles {
    color:black;
    font-family: var(--titles-font-family);
  }