@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }
  .mars{
        /* Specific styles or resets for sections with class 'mars' */
        background-color: transparent;  /* Example: overriding background color */
        padding: 0;                     /* Example: resetting padding */
        margin-bottom: 0;
        
        
        
        
  }

body {
    max-width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */

}
footer {
  background-color: transparent; /* Dark background for the footer */
  color: #fff; /* White text color */
  text-align: center; /* Center-align the text */
  padding: 20px 0; /* Padding above and below the text */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.marsdiv {
  position: relative;
  top: 800px;
  width: 100vw;  
  height: auto; 
}

.marsimage {
  width: 60%;  
  height: auto; 
  
}

.marslinks {
  position: absolute;  /* Position absolutely within .marsdiv */
  top: 65%;            /* Center vertically */
  left: 50%;           /* Center horizontally */
  transform: translate(-50%, -50%) rotate(-15deg); /* Offset the position by half of its own width and height to center it perfectly */
  /* Additional styles for visibility or aesthetics */
  color: white;        /* Example: setting text color */
  background-color: rgba(0, 0, 0, 0.5); /* Example: semi-transparent background */
  padding: 10px;       /* Example: padding around the text */
  border-radius: 5px;  /* Example: rounded corners */


}