<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--<link rel="icon" type="image/svg+xml" href="favicon.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patricio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 
  </head>

  <!-- REMEMBER TO FIX THE OVERFLOW AND REMEMBER TO REMOVE THE SCROLL BAR ON 
       THE RIGHT SIDE OF THE SCREEN IN THE CASE OF CHROME IT SHOULD NOT BE THERE!!!!!-->

  <body>
    

    <canvas id="bg"></canvas>   
    <main>

      <header>
        <h1 style="color:brown">Patricio</h1>
        <p>🚀 Welcome to my website!</p>
      </header>


      <blockquote>
        <p>I like making stuff and putting it on the internet</p>
      </blockquote>

      <section>
        <h2>📜 About me</h2>
        <p>
          My name is Patricio and I live in Québec, Canada. I am currently in high school and I hope to someday have a pilot's license and become a software engineer or a computer hardware engineer or even doing Robotics would be nice!
        </p>

        <p>
          I often have spare time and there are a lot of things i like doing. Of course I like playing video games like warthunder, minecraft, fortnite, beamng and rise of kingdoms. But most of the time I do other things like coding, 3d modeling in blender, animating, messing around with robotics and electronics. I love the world of rc cars and planes too and aviation is something i find very interesting.
        </p>

        <p>
          I speak english, spanish and french, spanish being my mother thongue, french being the language I go to school in and english being the language I use to comunicate online.
        </p>

      </section>

      <section class="light">
        <h2>👩🏽‍🚀 Projects</h2>

        <p>
          Along the couple of years I've been into coding I've worked on a few projects. Most of them were very small but here are some of my personal favorites. I recently made a 3d wireframe renderer using the sprig's platform that can renderer any 3d model you make in blender and you can view it on a screen connected to a raspberry pi pico microcontroller. Another non-coding related project was an 8 bit turing complete cpu I made in minecraft a few years ago that could be programed to run anything. I programmed a few programs for it in machine code and one of them was fibonacci. If you want to discover other projects I've worked on and check my blog out, keep scrolling!
        </p>

        <h2>🏆 Accomplishments</h2>

        <p>
          I got 4th place in the junior category in the last air cadets provincial air rifle precision shooting competition. 
        </p>

      </section>

      <blockquote>
        <p>“I would like to die on Mars.
          <br>Just not on impact.”
            <br>-Elon Musk
        </p>
      </blockquote> 

      <section class="left">
        <h2>🌮 Work History</h2>

        <h3>Distributing newspaper</h3>
        <p>
          Fun fact: I distributed newspaper for over a year.
        </p>
        <h3>Local cooperative</h3>
        <p>
          I worked at a little company that was managed by other people my age and we would offer services for people like mowing the grass or cleaning windows.
        </p>
        <!--
        <h3>Taco Bell</h3>
        <p>
          
        </p>
        -->

      </section>

      <!--
      <blockquote>
        <p>“I would like to die on Mars.
          <br>Just not on impact.”
            <br>-Elon Musk
        </p>
      </blockquote>
      --> 
      <!--
      <section class="mars">
        <img src="{{ url_for('static', filename='images/mars.png') }}" alt="This is mars">
      </section>
      -->
      

        <footer>
          <div class = marsdiv>


            <img class="marsimage" src="{{ url_for('static', filename='images/transparentmarsandastronaut3.png') }}" alt="This is mars">
            <!-- LINKS -->
            <p class="marslinks"><a style="color:white; text-decoration: none;" href="https://github.com/Patcybermind" target="_blank">Github</a></p>
            <p class="email"><a style="color:white; text-decoration: none;" href="https://github.com/Patcybermind" target="_blank">Email me!</a></p>
            <p class="projects"><a style="color:white; text-decoration: none;" href="https://patcybermind.tech/projects" target="_blank">projects/blog</a></p>
          </div>
        </footer>
    </main>
    
    
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>