<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<title>Patcybermind's website!</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="{{ url_for('static', filename='js/animation.js') }}"></script>

</head>
<body>

<h1 class="titles" style="text-align: center;">
    Patricio / Patcybermind
</h1>
<!-- Div to hold the Three.js scene -->
<div id="threejs-canvas"></div>
<script src="{{ url_for('static', filename='js/animation.js') }}"></script>
</body>
</html>