<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--<link rel="icon" type="image/svg+xml" href="favicon.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patricio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
 
  </head>
  
  <header>
  <div class="header-content">
    <h2 style="margin-top: 0; padding-left: 10px; padding-top: 8px;">
      Patcybermind
    </h2>

  </div>
  </header>
  <body>

  </body>
</html>